/vendor
/user/nostr-private.key
/src/.phpunit.result.cache
.phpunit.result.cache
.phpunit.cache/
composer.lock
test*.php
/.vscode
eventsCreated.yml
src/testdata/GitCitadel/example-nud.json
src/testdata/GitCitadel/GitCitadelBlog.adoc
src/testdata/GitCitadel/GitCitadelProject.adoc
src/testdata/GitCitadel/gitrepublic-ide.adoc
src/testdata/GitCitadel/nostr-event-register.adoc
src/testdata/GitCitadel/nostr-event-register.json
src/testdata/Douay-Rheims/published/1Chronicles.adoc
src/testdata/Douay-Rheims/published/1Corinthians.adoc
src/testdata/Douay-Rheims/published/1John.adoc
src/testdata/Douay-Rheims/published/1Kings.adoc
src/testdata/Douay-Rheims/published/1Machabees.adoc
src/testdata/Douay-Rheims/published/1Peter.adoc
src/testdata/Douay-Rheims/published/1Samuel.adoc
src/testdata/Douay-Rheims/published/1Thessalonians.adoc
src/testdata/Douay-Rheims/published/1Timothy.adoc
src/testdata/Douay-Rheims/published/2Chronicles.adoc
src/testdata/Douay-Rheims/published/2Corinthians.adoc
src/testdata/Douay-Rheims/published/2John.adoc
src/testdata/Douay-Rheims/published/2Kings.adoc
src/testdata/Douay-Rheims/published/2Machabees.adoc
src/testdata/Douay-Rheims/published/2Peter.adoc
src/testdata/Douay-Rheims/published/2Samuel.adoc
src/testdata/Douay-Rheims/published/2Thessalonians.adoc
src/testdata/Douay-Rheims/published/2Timothy.adoc
src/testdata/Douay-Rheims/published/3John.adoc
src/testdata/Douay-Rheims/published/Acts.adoc
src/testdata/Douay-Rheims/published/Amos.adoc
src/testdata/Douay-Rheims/published/Appendix.adoc
src/testdata/Douay-Rheims/published/Baruch.adoc
src/testdata/Douay-Rheims/published/Colossians.adoc
src/testdata/Douay-Rheims/published/Coverpage.jpg
src/testdata/Douay-Rheims/published/Daniel.adoc
src/testdata/Douay-Rheims/published/Deuteronomy.adoc
src/testdata/Douay-Rheims/published/Ecclesiastes.adoc
src/testdata/Douay-Rheims/published/Ephesians.adoc
src/testdata/Douay-Rheims/published/Esther.adoc
src/testdata/Douay-Rheims/published/Exodus.adoc
src/testdata/Douay-Rheims/published/Ezekiel.adoc
src/testdata/Douay-Rheims/published/Ezra.adoc
src/testdata/Douay-Rheims/published/Galatians.adoc
src/testdata/Douay-Rheims/published/Genesis.adoc
src/testdata/Douay-Rheims/published/Habakkuk.adoc
src/testdata/Douay-Rheims/published/Haggai.adoc
src/testdata/Douay-Rheims/published/Hebrews.adoc
src/testdata/Douay-Rheims/published/Hosea.adoc
src/testdata/Douay-Rheims/published/Introduction.adoc
src/testdata/Douay-Rheims/published/Isaiah.adoc
src/testdata/Douay-Rheims/published/James.adoc
src/testdata/Douay-Rheims/published/Jeremiah.adoc
src/testdata/Douay-Rheims/published/Job.adoc
src/testdata/Douay-Rheims/published/Joel.adoc
src/testdata/Douay-Rheims/published/John.adoc
src/testdata/Douay-Rheims/published/Jonah.adoc
src/testdata/Douay-Rheims/published/Joshua.adoc
src/testdata/Douay-Rheims/published/Jude.adoc
src/testdata/Douay-Rheims/published/Judges.adoc
src/testdata/Douay-Rheims/published/Judith.adoc
src/testdata/Douay-Rheims/published/Lamentations.adoc
src/testdata/Douay-Rheims/published/Leviticus.adoc
src/testdata/Douay-Rheims/published/Luke.adoc
src/testdata/Douay-Rheims/published/Malachi.adoc
src/testdata/Douay-Rheims/published/Mark.adoc
src/testdata/Douay-Rheims/published/Matthew.adoc
src/testdata/Douay-Rheims/published/Micah.adoc
src/testdata/Douay-Rheims/published/Nahum.adoc
src/testdata/Douay-Rheims/published/Nehemia.adoc
src/testdata/Douay-Rheims/published/Numbers.adoc
src/testdata/Douay-Rheims/published/Obadiah.adoc
src/testdata/Douay-Rheims/published/Philemon.adoc
src/testdata/Douay-Rheims/published/Philippians.adoc
src/testdata/Douay-Rheims/published/Proverbs.adoc
src/testdata/Douay-Rheims/published/Psalms.adoc
src/testdata/Douay-Rheims/published/Revelation.adoc
src/testdata/Douay-Rheims/published/Romans.adoc
src/testdata/Douay-Rheims/published/Ruth.adoc
src/testdata/Douay-Rheims/published/Sirach.adoc
src/testdata/Douay-Rheims/published/SongOfSolomon.adoc
src/testdata/Douay-Rheims/published/Titus.adoc
src/testdata/Douay-Rheims/published/Tobias.adoc
src/testdata/Douay-Rheims/published/Wisdom.adoc
src/testdata/Douay-Rheims/published/Zachariah.adoc
src/testdata/Douay-Rheims/published/Zephaniah.adoc
src/testdata/KJV/bibleparser.php
src/testdata/KJV/bookparser.php
src/testdata/KJV/KJV copy.adoc
src/testdata/KJV/KJV.adoc
src/testdata/KJV/published/1.adoc
src/testdata/KJV/published/2.adoc
src/testdata/KJV/published/3.adoc
src/testdata/KJV/published/4.adoc
src/testdata/KJV/published/5.adoc
src/testdata/KJV/published/6.adoc
src/testdata/KJV/published/7.adoc
src/testdata/KJV/published/8.adoc
src/testdata/KJV/published/9.adoc
src/testdata/KJV/published/10.adoc
src/testdata/KJV/published/11.adoc
src/testdata/KJV/published/12.adoc
src/testdata/KJV/published/13.adoc
src/testdata/KJV/published/14.adoc
src/testdata/KJV/published/15.adoc
src/testdata/KJV/published/16.adoc
src/testdata/KJV/published/17.adoc
src/testdata/KJV/published/18.adoc
src/testdata/KJV/published/19.adoc
src/testdata/KJV/published/20.adoc
src/testdata/KJV/published/21.adoc
src/testdata/KJV/published/22.adoc
src/testdata/KJV/published/23.adoc
src/testdata/KJV/published/24.adoc
src/testdata/KJV/published/25.adoc
src/testdata/KJV/published/26.adoc
src/testdata/KJV/published/27.adoc
src/testdata/KJV/published/28.adoc
src/testdata/KJV/published/29.adoc
src/testdata/KJV/published/30.adoc
src/testdata/KJV/published/31.adoc
src/testdata/KJV/published/32.adoc
src/testdata/KJV/published/33.adoc
src/testdata/KJV/published/34.adoc
src/testdata/KJV/published/35.adoc
src/testdata/KJV/published/36.adoc
src/testdata/KJV/published/37.adoc
src/testdata/KJV/published/38.adoc
src/testdata/KJV/published/39.adoc
src/testdata/KJV/published/40.adoc
src/testdata/KJV/published/41.adoc
src/testdata/KJV/published/42.adoc
src/testdata/KJV/published/43.adoc
src/testdata/KJV/published/44.adoc
src/testdata/KJV/published/45.adoc
src/testdata/KJV/published/46.adoc
src/testdata/KJV/published/47.adoc
src/testdata/KJV/published/48.adoc
src/testdata/KJV/published/49.adoc
src/testdata/KJV/published/50.adoc
src/testdata/KJV/published/51.adoc
src/testdata/KJV/published/52.adoc
src/testdata/KJV/published/53.adoc
src/testdata/KJV/published/54.adoc
src/testdata/KJV/published/55.adoc
src/testdata/KJV/published/56.adoc
src/testdata/KJV/published/57.adoc
src/testdata/KJV/published/58.adoc
src/testdata/KJV/published/59.adoc
src/testdata/KJV/published/60.adoc
src/testdata/KJV/published/61.adoc
src/testdata/KJV/published/62.adoc
src/testdata/KJV/published/63.adoc
src/testdata/KJV/published/64.adoc
src/testdata/KJV/published/65.adoc
src/testdata/KJV/published/66.adoc
src/testdata/Books/bibleparser.py
src/testdata/Books/bitcoin-whitepaper_Preface.adoc
src/testdata/Books/dracula2.adoc
src/testdata/Books/GulliversTravels.adoc
src/testdata/Books/HelsinkiBirths.adoc
src/testdata/Books/holmes.adoc
src/testdata/Books/JaneEyre.adoc
src/testdata/Books/JoanArc_Vol1.adoc
src/testdata/Books/JoanArc_Vol2.adoc
src/testdata/Books/pilgrim.adoc
src/testdata/Books/Rauhnaechte.adoc
src/testdata/Books/Relativitity.adoc
src/testdata/Books/TheAccidentalCaregiversGuide.adoc
